<ion-content>
  <ion-toolbar translucent>
    <ion-title class="title-header">Contact us</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  <!-- content -->
  <ion-list>
    <ion-list-header>
      Recent Online
    </ion-list-header>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label>
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label>
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label>
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label>
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="offline">
      Offline
    </ion-list-header>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label class="offline">
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label class="offline">
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label class="offline">
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label class="offline">
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label class="offline">
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label class="offline">
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="callNow('0948856496')">
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label class="offline">
        <h2>Cao tran</h2>
        <p>Company</p>
      </ion-label>
      <ion-label class="offline">
        <h3>0948856496</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>